/* base style included by vue, reusing it */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* page take all the height */
  max-width: 1500px;
  display: flex;
  flex-direction: column; /* organization of elements in columns */
}

#app {
  flex: 1; /* take space above footer */
}

.footer {
  background: linear-gradient(135deg, #005eff, #2575fc);
  background-size: 200% 200%;
  animation: gradientMove 5s infinite alternate;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; /* footer take all the width */
  padding-top: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #dcdcdc;
}

.footer-credits {
  font-size: 12px;
  margin-top: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
